<div class="modalEdit modal fade" id="modalEdit" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEdit">Editar Contato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-editar" id="modal_editar" method="post">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <label class="form-label">Nome</label>
          <input type="text" class="form-control" name="nome" id="modal_nome">
          <label class="form-label">Sobrenome</label>
          <input type="text" class="form-control" name="sobrenome" id="modal_sobrenome">
          <label class="form-label">Telefone</label>
          <input type="tel" class="form-control" name="telefone" id="modal_telefone">
          <label class="form-label">E-mail</label>
          <input type="email" class="form-control" name="email" id="modal_email">
          <div class="modal-footer">
            <button type="submit" id="modal_salvar" class="btn btn-primary">Salvar Alterações</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>